# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
Source/Spessmen/.vs/Spessmen/v14/.suo
*.cs
Source/Spessmen/Spessmen.sln
Source/Spessmen/Spessmen/bin/Debug/NVorbis.dll
*.pdb
Source/Spessmen/Spessmen/bin/Debug/UnityEngine.dll
Source/Spessmen/Spessmen/bin/Debug/Spessmen.dll
Source/Spessmen/Spessmen/bin/Debug/Assembly-CSharp.dll
Source/Spessmen/Spessmen/bin/Export/Assembly-CSharp.dll
